*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(27, 25, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: beige;
    border-radius: 50%;
    position: fixed;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
    
}

#image{
    height: 30vw;
    width: 60vw;
    background-color: brown;
    position: relative;
}

#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}